---
import SocialLinks from "../components/SocialLinks.astro";
import Title from "../components/Title.astro";

// FAKE DATA
// const data = [
//   { name: "Facebook", icon: "", link: "" },
//   { name: "Instagram", icon: "", link: "" },
//   { name: "X", icon: "", link: "" },
//   { name: "LinkedIn", icon: "fab fa-linkedin fa-2x", link: "" },
//   { name: "BeReal", icon: "", link: "" },
//   { name: "GitHub", icon: "fab fa-github fa-2x", link: "" },
// ];

const res = await fetch(
  "https://script.googleusercontent.com/macros/echo?user_content_key=_mXCeTEcLbFdSdroVa2IsaacOEGh7AzAATkdWj8vIO8fVC94ZbOHa0o_MtODaUb7YIyDH1PV9RJsaZUu6z0kkCQa8zXKmhdPm5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnC1ixgh57tvSFfnAy_blXMmcuqlo4dqkRWkH13qgt5DXM3f-xz7Rzll8eVtMuatKK1yVEAXvOEUYly8Ezkc7Pge8VLwpL94jndz9Jw9Md8uu&lib=MIFVEDuvwu8ejhImpgUwZl6wxUxgqwiu9"
);
const { data } = await res.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>stephangriesel.com</title>
  </head>
  <body class="grid place-items-center min-h-screen bg-black text-white">
    <section class="grid place-items-center min-h-screen">
      <h1>stephangriesel.com</h1>
      <div>
        <div>
          <Title />
          {data.map((i) => <SocialLinks data={i} />)}
        </div>
      </div>
      <footer>
        &copy;
        <script>
          new Date().getFullYear() > 2010 &&
            document.write(" " + new Date().getFullYear());
        </script>
      </footer>
    </section>
  </body>
</html>
