---
import SocialLinks from "../components/SocialLinks.astro";
import Title from "../components/Title.astro";

const data = [
  { name: "Facebook", icon: "", link: "" },
  { name: "Instagram", icon: "", link: "" },
  { name: "X", icon: "", link: "" },
  { name: "LinkedIn", icon: "fab fa-linkedin fa-2x", link: "" },
  { name: "BeReal", icon: "", link: "" },
  { name: "GitHub", icon: "fab fa-github fa-2x", link: "" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
    <title>stephangriesel.com</title>
  </head>
  <body class="grid place-items-center min-h-screen bg-black text-white">
    <section class="grid place-items-center min-h-screen">
      <h1>stephangriesel.com</h1>
      <div>
        <div>
          <Title />
          {data.map((i) => <SocialLinks data={i} />)}
        </div>
      </div>
      <footer>
        &copy;
        <script>
          new Date().getFullYear() > 2010 &&
            document.write(" " + new Date().getFullYear());
        </script>
      </footer>
    </section>
  </body>
</html>
