---
import SubscribeForm from "../components/SubscribeForm";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
    <title>stephangriesel.com</title>
  </head>
  <body>
    <section class="grid place-items-center min-h-screen bg-black text-white">
      <div class="grid gap-4">
        <h1>List</h1>
        <SubscribeForm client:visible />
      </div>
    </section>
  </body>
</html>
