---
type Props = {
  data: {
    name: string;
    icon: string;
    link: string;
    status: string;
  };
};

import pixelSteph from "../assets/images/pixelsteph.png";

const { data } = Astro.props;
---

<div style="text-align: center;">
  {
    data.status === "enabled" && (
      <img
        src={pixelSteph.src}
        style="width: 150px; height: auto; border: 2px solid #c0c0c0; margin: 0 auto;"
        alt="hero"
      />
    )
  }
</div>
