---
type Props = {
  data: {
    name: string;
    icon: string;
    link: string;
    status: string;
  };
};

const { data } = Astro.props;
console.log("check data hero", data);
console.log("check data status", data.status);
---

<div>
  {
    data.status === "enabled" && (
      <img
        src={data.link}
        class="object-cover object-center rounded-full h-128 border-4"
        alt="hero"
      />
    )
  }
</div>
