---
type Props = {
  data: {
    name: string;
    icon: string;
    link: string;
    status: string;
  };
};

const { data } = Astro.props;
---

<a
  href={data.link}
  class="win95-btn"
  style="width: 100%; margin-bottom: 5px; text-align: left;"
>
  {
    data.icon && (
      <i
        class={data.icon}
        style="margin-right: 5px; width: 20px; text-align: center; font-size: 14px;"
      />
    )
  }
  {data.name}
  {
    data.name === "Stephan Griesel" && (
      <span class="blink" style="font-size: 10px; float: right;">
        NEW!
      </span>
    )
  }
</a>
